<div id="mensaje2" class="alert alert-success" style="display:none;">
	<a class="close" data-dismiss="alert">×</a>
	<p><strong>Notas resumens ordenadas</strong></p>
</div>

<%= render :partial => 'wizard'%>
<%= render :partial => 'resumenes/estructurados' %>
<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>