<% if (@resumenes_sin_tema.count <= 0 and @resumenes_con_tema.count > 0) %>
	<div class='well'>
		<% @accion = "paso2b" %>
		<% @accion += "/#{@informe.id}" if @informe%>
		<%= link_to "Siguiente", {:action => @accion}, :class => 'btn btn-primary pull-right', :style=>"text-align: right;", :type => "submit"%>
	</div>
<% end %>

<%= render :partial => 'resumenes_con_tema' if @resumenes_con_tema.count > 0 %>
<%= render :partial => 'resumenes_sin_tema' if @resumenes_sin_tema.count > 0 %>

<!-- Javascript -->
<script type="text/javascript" charset="utf-8">
	function unir(id){
		// $("#"+id).hide();
		unir_resumenes_ids = $('.unir_resumenes_ids_').text
		$.post("/resumenes/unir?unir_resumenes_ids="+unir_resumenes_ids);
		// $.post("/resumenes/update/"+resumen_id+"?nota_id="+id+">");
		location.reload();
		return false;
	}
	$().button('toggle')
</script>
