</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="hero-unit" style= "text-align: center;">
  <h1>Burson Marsteller Venezuela</h1>
  <h2>Monitor de Medios</h2>
  <p>
  <% unless session[:usuario] %>
    <%= link_to "Entrar", "", :data => {:toggle => 'modal'}, :onclick => "return $('#iniciar_sesion').modal();", :style=> "text", :class => "btn btn-primary btn-large" %>
  <% else %>
    <%= link_to "Medios", medios_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "Organizaciones", organizaciones_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "Actores", actores_path, :class => "btn btn-primary btn-large" %>
  
  <% end %>
  </p>
</div>


						