
<%# link_to 'Candidatos', candidates_path, :class => 'btn btn-success' %>
<%# link_to 'Notas', {:action => 'paso1', :controller => 'wizard'}, :class => 'btn btn-success' %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="hero-unit" style= "text-align: center;">
  <h1>Burson Marsteller Venzuela</h1>
  <h2>Monitor de Medios</h2>
  <p style="color:red;">En Construcción</p>
  <p>
    <a class="btn btn-primary btn-large disabled">
      Entrar
    </a>
  </p>
</div>
