<%# form_tag do -%>
	<!-- <div> -->
		<%= text_field_tag 'filtro', nil ,{:onkeyup => "return filtrar()", :placeholder=>"Filtrar..."}%>
		<%# link_to "",  {:class => 'btn btn-success', :onclick => "return filtrar()"} do %>
		<!-- <a class="btn btn-success" onclick="return filtrar()">
			<i class="icon-filter icon-white"></i>
		</a> -->
		<%# end %>	
	<!-- </div> -->
<%# end -%>
<p id="text" style="color:grey;"></p>


<script type="text/javascript" charset="utf-8">
	function filtrar() {
		var filtro = document.getElementById("filtro").value.toLowerCase();
		// filtro = filtro.value.toLowerCase();
		var trs = document.getElementsByTagName("tr");
		var contenido = "";
		for (var i=1;i<trs.length;i++)
		  {
				contenido = trs[i].cells[0].innerHTML.toLowerCase();
				if (contenido != "#") 
				{ 
					for (var j=1;j<3;j++){
						contenido = contenido + trs[i].cells[j].innerHTML.toLowerCase();	
					}
					if (contenido != null && filtro != null) {
						var match = contenido.match(filtro);					
						if (match == null) {
							trs[i].style.display="none";
							document.getElementById("text").innerHTML = filtro;
						}else {
							trs[i].style.display="";
						}
					}
				}
			}
		return false;
		}
</script>
