
	<%= text_field_tag 'filtro', nil ,{:onkeyup => "return filtrar()", :placeholder=>"Filtrar...", :autofocus => true}%>
	<a id="text" style="color:white;"></a>


<script type="text/javascript" charset="utf-8">
	function filtrar() {
		var filtro = document.getElementById("filtro").value.toLowerCase();
		// filtro = filtro.value.toLowerCase();
		// var trs = document.getElementsByTagName("tr");
		var texto = "";
		var texto2 = ""
		var total_mach = 0
		// var website = ""
		$("table.notas .row-fluid").each(function(){
			var temp = $(this).text().toLowerCase();
			if (temp.match(filtro) == null) {
				$(this).parent().parent().hide();
				texto = texto + temp;
			}else {
				$(this).parent().parent().show();
				// website += " "+$(this).parent().parent().parent().parent().parent().parent().attr('id')
				// website = "#"+website.+"_titular span"
				// $(website).text(total_mach);
				texto2 = texto2 + temp;
				total_mach += 1;
			}
			
		});
		$("#text").text(filtro+" ("+total_mach+" coincidencias)");
		return false;
		}
</script>
