<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @tipo_alerta.descripcion %>
</p>


<%= link_to 'Edit', edit_tipo_alerta_path(@tipo_alerta) %> |
<%= link_to 'Back', tipos_alertas_path %>
