#titulo{
	padding: 2px 5px 2px 5px;
	margin: 10px 20px 10px 0px;
	border-color: lightblue;
	border-style: solid;
	border-radius: 5px;
}
.titulo {
	padding: 2px 10px 2px 10px;
	margin: 10px 0px 10px 0px;
	background-color:lightblue;
	border-radius: 5px;	
}
.justificar {text-align: justify;}

.centrar {text-align: center;}

.derecha {text-align: right;}

.contenedor_notas_resumenes{
	overflow:scroll; 
	max-height:150px; 
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.ordenable li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.ordenable li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


#banner2 {
	height: 70px;
	margin-top: 42px;
	margin-bottom: 10px;
	border-bottom: solid 1px #eee;
	
	
}
.contenido_scroll{
	overflow:scroll; 
	max-height:400px;
}

.contenido_scroll_200{
	overflow:scroll; 
	max-height:200px;
}

.contenido_nota{
text-align: justify;
font-size: 11px;
font-family: verdana;
}

.asunto_tema_titulo{
	background-color: #ddd;
	padding-left: 10px;
}




body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}
