<h3 class="titulo"><%= "Wizard Reportes: #{action_name} #{@titulo}" %> </h3>
<div id="wizard_bar">
	<div class="form-actions">
	    <%# link_to 'Atrás', {action: 'paso1'}, class: 'btn' %>
	    <%# link_to 'Siguiente', 'paso3', :class => 'btn pull-right btn-primary' %>
	</div>

</div>


<br>
<div class="well well-small">

	<h4>Barridos por el Usuario:</h4>
	<%- if @mis_clientes.count <= 0 %>
		<p class= 'label label-info'>Sin Clientes Seleccionados</p>
	<%else%>
		<%- @mis_clientes.each do |cliente| %>
			<%= raw btn_icon 'Volver a Barrer', cliente.razon_social, "/wizard_reportes/paso1_liberar/#{cliente.id}", 'btn-success', 'icon-arrow-down'%>
		<% end -%>
	<% end -%>
	<h4>Pendientes por Barrer:</h4>
	<%- if @clientes_libres.count <= 0 %>
		<p class= 'label label-info'>Sin clientes pendientes</p>
	<%else%>
		<%- @clientes_libres.each do |cliente| %>
			<%= link_to cliente.razon_social, {:action => :paso2, :id => cliente.id}, :class => 'btn btn-primary' %>
		<% end -%>
	<% end -%>
</div>