<h3><%="Usuario: #{@cliente.usuario.nombre}"%></h3>

<table class="table">
	<thead>
		<tr>
			<th>Descripcion</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		<%- @total_notas.each do |notas| %>
			<tr>
				<td>
					<div class="media">
						<div class="media-body">
							<h4><%= notas.titulo %></h4>
							<%= raw notas.descripcion_completa %>
						</div>
					</div>
				</td>
				<td><%= link_to 'opciones'%></td>
			</tr>
		<% end -%>
	</tbody>
</table>