<div id="wizard_bar">
	<div class="form-actions">
	  <h3><%= "Wizard Reportes: #{action_name} #{@titulo}" %> </h3>
	    <%# link_to 'Atrás', {action: 'paso1'}, class: 'btn' %>
	    <%# link_to 'Siguiente', 'paso3', :class => 'btn pull-right btn-primary' %>
	</div>

</div>


<br>
<div class="well well-small">

	<h4>Selecionados por el Usuario:</h4>
	<%- if @mis_clientes.count <= 0 %>
		<p class= 'label label-info'>Sin Clientes Seleccionados</p>
	<%else%>
		<%- @mis_clientes.each do |cliente| %>
			<%= link_to cliente.razon_social, {:action => 'paso1_liberar', :id => cliente.id}, :class => 'btn' %>
		<% end -%>
	<% end -%>
	<h4>Selecionados Pendientes por asignar:</h4>
	<%- if @clientes_libres.count <= 0 %>
		<p class= 'label label-info'>Sin clientes pendientes</p>
	<%else%>
		<%- @clientes_libres.each do |cliente| %>
			<%= link_to cliente.razon_social, {:action => :paso2, :id => cliente.id}, :class => 'btn' %>
		<% end -%>
	<% end -%>
</div>